<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Thông tin kho hàng</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/admin">Trang chủ</a></li>
          <li class="breadcrumb-item active">Thông tin kho hàng</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" *ngIf="currentWarehouse != null">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Kho hàng {{currentWarehouse.name}}</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-product">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of listProduct; index as i">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['/chart/product/info',product.id]">{{product.name}}</a>
          </td>
          <td>{{product.amount}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
